{% extends "livebase.html" %}

{% block title %}{{ confInfo.conference }} Schedule {% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/virtual/css/calendar.css">
{% endblock %}

{% block body %}

    {% if access_granted %}
        

        <div class="container">
                <div>Timezone: 
                  <a href="/set_timezone?nextp={{request.get_full_path}}">{{request.session.django_timezone}} &raquo;</a>
                  <a class="btn btn-default" onClick="togglePosters();">Toggle Posters</a>
                </div>

        </div>

        <div class="whitebar"></div>


        {{html}}


        


    {% else %}
        <br><br><br>
        <div class="container2" style="text-align:center;">
            <h5>Registration Required</h5>
            <p>You must be <a href="/Register/view-registration">registered</a>
                {% if not request.user.is_authenticated %} and
                    <a href="/login?nextp={{ request.get_full_path }}">logged
                        in</a>{% endif %} order to view this content.</p>

        </div>
    {% endif %}


<script>

function togglePosters() {
  $(".posteronly").parent().prev().toggleClass("hidden");
  $(".poster.pad").toggleClass("hidden");
}
</script>



{% endblock %}


