{% extends "livebase.html" %}
{% load documenttags %}
{% block title %}{{confInfo.conference}} Virtual Site{% endblock %}
{% block body %}
<div id="welcome-image">
</div>
<div class="container">
    {% if messages %}
    {% for message in messages %}
    {% bootstrapalert message %}
    {% endfor %}
    {% endif %}
</div>
<div class="container">
    <div class="row">
        <h2 class="title-centered">Getting Started</h2>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <br><br><br>
            <h3>Requirements</h3>
            <ul class="requirements">

                <li><strong>Javascript</strong> must be enabled for this site to work.</li>

                <li>{% set_timezone_form nextp=timezone_nextp %} Be sure to set a timezone so the schedule appears in your local time. <br>You may also set this in the upper right corner using the profile dropdown from any page.
                
                    <br>Avoid using the GMT+/- timezone names because the names are the reverse of the timezone
                    names.<br>Choose a neary city instead.

                </li>

            </ul>
        </div>

        <div class="col-sm-6">

            <div style="margin-top:70px;">
                <h3 class="text-center">Welcome Video from David Blei,</h3>
                <h3 class="text-center">General Chair</h3>
                <div id="presentation-embed-38931993"></div>
                <script src='https://slideslive.com/embed_presentation.js'></script>
                <script>
                    embed = new SlidesLiveEmbed('presentation-embed-38931993', {
                        presentationId: '38931993',
                        autoPlay: false, // change to true to autoplay the embedded presentation
                        verticalEnabled: true
                    });
                </script>

            </div>

        </div>


            <br><br><br>

            {# ================================================================ #}
            {% document "/public/VirtualIntro" %}
            {# ================================================================ #}

            <br><br><br>

        </div>
    </div>
</div>
<br><br><br><br><br><br><br><br><br><br>
{% endblock %}
{% block postbody %}
{% endblock %}