<!DOCTYPE html>
<html lang="en">

    {% if False %}
        This is rendered by miniconf using jinja. Use this if False method to create comments.
    {% endif %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %}Virtual Site{% endblock %}</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link href="https://fonts.googleapis.com/css2?family=Exo:wght@400;700&family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/expo/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/static/virtual/css/virtual.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.3.1/typeahead.bundle.min.js" integrity="sha512-lEb9Vp/rkl9g2E/LdHIMFTqz21+LA79f84gqP75fbimHqVTu6483JG1AwJlWLLQ8ezTehty78fObKupq3HSHPQ==" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/min/moment.min.js"
            integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ="
            crossorigin="anonymous"></script>
    {% block head %}
    {% endblock %}
</head>

<body>
    <!-- NAV -->


    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light mr-auto " id="main-nav">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
            <img src="/static/nips/img/ICML-logo.svg" height="40px"> {# Need to make this lookup the database name #}
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-right flex-grow-1" id="navbarNav">
                <ul class="navbar-nav ml-auto">


                    <li class="nav-item ">
                        {# <a class="nav-link" href="/Expo/Conferences/2020/Expo"><img src="/static/expo/img/icml/expo-logo-nav.png"></a> #}
                        <a class="nav-link" href="/Expo/Conferences/2020/Expo">Expo</a>
                    </li>



                    {% if False %}
                    <li class="nav-item ">
                        {# <a class="nav-link" href="/Expo/Conferences/2020/Expo"><img src="/static/expo/img/icml/expo-logo-nav.png"></a> #}
                        <a class="nav-link" href="/Expo/Conferences/2020/SponsorHall">Sponsor Hall</a>
                    </li>
                    {% endif %}


                    <li class="nav-item ">
                        <a class="nav-link" href="/virtual/{{confInfo.year}}/index.html">Getting Started</a>
                    </li>


                    <li class="nav-item ">
                        <a class="nav-link" href="/virtual/{{year}}/calendar.html">Schedule</a>
                    </li>




                    <li class="nav-item ">
                        <a class="nav-link" href="/virtual/{{year}}/events/Tutorial">Tutorials</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/virtual/{{year}}/events/Invited Talk">Invited Talks</a>
                    </li>


                    <li class="nav-item ">
                        <a class="nav-link" href="/virtual/{{year}}/papers.html">Papers</a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link" href="/virtual/{{year}}/awards.html">Awards</a>
                    </li>


                    <li class="nav-item ">

                        <a class="nav-link" href="/virtual/{{year}}/workshops">Workshops</a>

                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/virtual/{{year}}/townhall">Town Hall</a>

                    </li>



                    <li class="nav-item ">

                        <a class="nav-link" href="/virtual/{{year}}/socials.html">Socials</a>

                    </li>




                    {% if confInfo.user.is_authenticated %}

                        <div class="btn-group">

                          <button type="button" class="btn btn-primary btn-sm"><i class="fas fa-user"></i> {{request.user.firstname}}</button>
                          <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                          </button>

                          <div class="dropdown-menu dropdown-menu-right">

                            <a class="dropdown-item" href="/Profile">Profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/Profile/change-password">Password</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logout">Log Out</a>
                            <div class="dropdown-divider"></div>
                            <a class = "dropdown-item" href="/set_timezone?nextp={{request.get_full_path}}">TZ: {{request.session.django_timezone}}</a>
                          </div>
                        </div>


                    {% else %}
                        {# This may never get used since @login decorates all the sponsorhall views #}
                        <a href="/accounts/login?nextp={{ request.path }} " class="navbar-brand"><span class="glyphicon glyphicon-log-in"></span> Login</a>

                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>

    {% if messages %}
    <div class="section">
        {% for message in messages %}
            {# {% bootstrapalert message %} #}
            <div class="alert alert-info alert-dismissable ">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <h4><span class="glyphicon glyphicon-{1} text-large"> </span> <small>&nbsp; {{message}}</small></h4>
        </div>
        {% endfor %}
    </div>
    {% endif %}


    {% block body %}



    {% endblock %}


    {% if pagePermission.change %}

        {% include "editable-snippet.html" %}
            <div id="editFooter" class="noprint">
                <br><br>
                    <button class="editFooterButton btn btn-default btn-sm" title="Enable editing of content where possible" id="editpage" onclick="start_edit();"><i class="far fa-edit"></i></button>
                    <button class="editFooterButton btn btn-default" title="Save edited content and reload the page" id="noeditpage" onclick="stop_edit();" style="display:none"><i class="far fa-save font2 gray"></i></button>
            </div>
    {% endif %}

    {# {% csrf_token %} #}


{#    <footer class="footer bg-light ">#}
{#        <div class="container">#}
{#            <p class="float-right"><a href="#">Back to Top</a></p>#}
{#            {% if papers %}<p style="text-align:left">Showing {{papers.count}} Papers</p>{% endif %}#}
{#        </div>#}
{#    </footer>#}


    {% block postbody %}

    {% endblock %}
</body>

</html>
