{% extends "livebase.html" %}
{% block title %}{{ confInfo.conference }} Papers{% endblock %}

{% block head %}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.4.0/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tippy.js@6/dist/tippy-bundle.umd.min.js"></script>

    <script src="{{ urls.js }}/icons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

    <link rel="stylesheet" href="{{ urls.css }}/typeahead.css">
    <link rel="stylesheet" href="{{ urls.css }}/lazy_load.css">

    <style>
        .tt-hint {
            opacity: 0 !important;
        }
    </style>


{% endblock %}

{% block body %}
    {#    <br><br>#}
    {#    <div class="container">#}
    {#        <div class="row">#}
    {#            <div class="col-md-12"></div>#}
    {#            <div class="title-centered" style="text-align:center">Papers</div>#}
    {#        </div>#}
    {#    </div>#}

    {% if access_granted %}
        <div class="container">
            {% block tabs %}
                <ul class="nav nav-pills justify-content-center">
                <li class="nav-item">
                    <button class="btn btn-outline-secondary " type="button"
                                data-toggle="collapse"
                                data-target="#collapseExample"
                                aria-expanded="false"
                                aria-controls="collapseExample"
                            style="margin-right: 10pt;"
                    >
                            Show/Hide Keywords
                        </button>
                </li>
                    <li class="nav-item active">
                        <a
                                class="nav-link text-muted active"
                                data-toggle="tab"
                                href="#tab-browse"
                                role="tab"
                                aria-controls="nav-home"
                                aria-selected="true"
                        >Browse Papers
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-muted" href="paper_vis.html">Paper
                            Visualization</a>
                    </li>



                </ul>
{#                                <div class="nav-item nav-left">#}
{#                        <button class="btn btn-outline-secondary" type="button"#}
{#                                data-toggle="collapse"#}
{#                                data-target="#collapseExample"#}
{#                                aria-expanded="false"#}
{#                                aria-controls="collapseExample">#}
{#                            Show/Hide Keywords#}
{#                        </button>#}
{#                    </div>#}


            {% endblock %}
            {% block content %}
                <div class="row p-3"></div>

                <!-- Session -->
                <div class="row d-none session_notice">
                    <div
                            class="alert alert-warning alert-dismissible fade show col-12"
                            role="alert"
                    >
                        Showing papers for
                        <span id="session_name"
                              style="font-weight: bold;"></span>.
                        <button
                                type="button"
                                class="close remove_session"
                                data-dismiss="alert"
                                aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>


                <div class="collapse row" id="collapseExample">
                    <div class="" id="all_kw_show" style="padding: 10px; margin-bottom:10px;background-color: #eee;">


                    </div>
                </div>
                <!-- Buttons -->
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                        <div class="input-group mb-3">
                            <input
                                    type="text"
                                    class="form-control typeahead_all"
                                    placeholder="Search"
                            />
                            <div class="input-group-append">

                                <button
                                        class="btn btn-outline-secondary typeahead_all_clear"
                                        type="button"
                                >
                                    &times;
                                </button>
                            </div>
                        </div>
                    </div>
                    <div
                            class="col-12 col-sm-6 col-md-6 col-lg-4 text-center"
                            style="margin-bottom: 10px;"
                    >
                        <div class="btn-group btn-group-toggle filter_option">
                            <label
                                    class="btn btn-outline-secondary"
                                    data-tippy-content="Search for papers titles"
                            >
                                <input
                                        type="radio"
                                        name="options"
                                        value="titles"
                                        autocomplete="off"
                                        checked
                                />
                                title
                            </label>
                            <label
                                    class="btn btn-outline-secondary"
                                    data-tippy-content="Search for papers with specific keywords"
                            >
                                <input
                                        type="radio"
                                        name="options"
                                        value="keywords"
                                        autocomplete="off"
                                />
                                subject area
                            </label>
                            <label
                                    class="btn btn-outline-secondary active"
                                    data-tippy-content="Search for papers from specific authors"
                            >
                                <input type="radio" name="options"
                                       value="authors"
                                       autocomplete="off"/>
                                author
                            </label>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <button class="btn btn-outline-secondary reshuffle">
                            shuffle
                        </button>
                        <div class="float-right">
                            <div
                                    class="btn-group btn-group-toggle render_option"
                                    data-toggle="buttons"
                            >
                                <label class="btn btn-outline-secondary active">
                                    <input type="radio" name="options"
                                           value="list"
                                           autocomplete="off"/>
                                    mini
                                </label>
                                <label class="btn btn-outline-secondary active">
                                    <input
                                            type="radio"
                                            name="options"
                                            value="compact"
                                            autocomplete="off"
                                            checked
                                    />
                                    compact
                                </label>
                                <label class="btn btn-outline-secondary">
                                    <input
                                            type="radio"
                                            name="options"
                                            value="detail"
                                            autocomplete="off"
                                    />
                                    detail
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Cards -->
                <div class="cards row"></div>
                <script src="{{ urls.js }}/little_helpers.js"></script>
                <script src="{{ urls.js }}/lazy_load.js"></script>
                <script src="{{ urls.js }}/persistor.js"></script>
                <script src="{{ urls.js }}/papers.js"></script>
                <script>
                    $(document).ready(function () {
                        tippy("[data-tippy-content]",
                          {trigger: "mouseenter focus"});

                        thumbnail_prefix = "{{ urls.thumbnail_dir }}"
                        start("{{ urls.data_dir }}/icml_papers.json");
                    });
                </script>

            {% endblock %}
            {% block footer %}

                <div class="gdpr bg-dark text-light"
                     style="padding: 10pt; position: fixed; bottom: 50px; display: none;">
                    We use cookies to store which papers have been visited.
                    <div class="gdpr-btn btn btn-sm btn-info"
                         style="margin-left: 15pt;">
                        I agree
                    </div>
                </div>
                <script src="{{ urls.js }}/gdpr_cookies.js"></script>

            {% endblock %}

        </div>

    {% else %}
        <br><br><br>
        <div class="container" style="text-align:center;">
            <h4>Registration Required</h4>
            <p>You must be <a href="/Register/view-registration">registered</a>
                {% if not request.user.is_authenticated %} and
                    <a href="/login?nextp={{ request.get_full_path }}">logged
                        in</a>{% endif %} order to view this content.</p>
        </div>
    {% endif %}

{% endblock %}
