{% extends "livebase.html" %}
{% load documenttags %}
{% load cache %}

{% block title %}{{confInfo.conference}} Paper Detail{% endblock %}

{% block body %}







    {% if access_granted %}

        <div class="container">
            <!-- Title -->
            <div class="pp-card m-3" style="">
                <div class="card-header">
                    <h2 class="card-title main-title text-center" style="">
                        {{paper.name}}
                    </h2>

                    <h3 class="card-subtitle mb-2 text-muted text-center">
                        {% for es in paper.get_eventspeakers %}
                            <a href="{% url 'papers' year %}?filter=authors&search={{es.speaker.firstname}} {{es.speaker.lastname}}" class="text-muted">{{es.speaker.get_full_name}}</a>,
                        {% endfor %}
                    </h3>
                    {% comment %}
                    <p class="card-text text-center"><span class="">Keywords:</span>
                        {% for kw in paper.subject_areas.all %}
                            [ <a href="{% url 'papers' year %}?filter=keywords&search={{kw.name}}" class="text-secondary text-decoration-none">{{kw.name}}</a> ]
                        {% endfor %}

                    </p>
                    {% endcomment %}
                    <div class="text-center p-3">
                        <a class="card-link" data-toggle="collapse" role="button" href="#details">
                            Abstract
                        </a>

                        <a class="card-link" role="button" href="https://proceedings.{{confInfo.conference.organization.get_domain}}/static/paper_files/{{confInfo.orgName|lower}}/{{year}}/{{paper.sourceid}}-Paper.pdf">Paper</a>
                        
                        {% if paper.starttime %}
                            <div>{{paper.starttime|date:"D M j P e "}}
                                <a href="{% url 'ical' paper.id 1 %}"> [iCal] </a>
                                {% if paper.zoom_join_link %} 
                                    <a href="{{paper.zoom_join_link}}"> [ Join Zoom ]</a>
                                {% endif %}
                            </div>
                            
                        {% endif %}
                        
                        {% if paper.starttime2 %}
                            <div>{{paper.starttime2|date:"D M j P e "}}

                                {# Note that we use the same zoom link for both presentations of a poster.  #}

                                <a href="{% url 'ical' paper.id 2 %}"> [iCal] </a>
                                {% if paper.zoom_join_link %} 
                                    <a href="{{paper.zoom_join_link}}"> [ Join Zoom ]</a>
                                {% endif %}
                            </div>
                            
                        {% endif %}
                        
                        {% if paper.zoom_join_link %} <br><small  style="color:red;">Please do not share or post zoom links</small>{% endif %}
                        
                        {% if request_user_is_author %}

                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 card">
                                        <h5 class="card-title">Author Instructions for Starting Zoom</h5>
                                        
                                        <p class="card-text">You are seeing this because you are an author of this paper. Do not share this information.</p>
                                        
                                        <p>Log into to <a href="https://zoom.us/">zoom.us</a> with your default web browser using the email address
                                            <strong>zoom+2020-{{paper.sourceid}}@icml.cc</strong> and the password <strong>rockyGreen2</strong> then click this 
                                            <p><a class="btn btn-primary btn-sm" href="{{paper.zoom_start_link}}">start_link &raquo;</a> </p>
                                        </p>
                                    </div>
                                    <div class="col-md-6 card">


                                            <h5 class="card-title">Author Upload Slides (PDF)</h5>
                                            <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                                                {{slideUploadForm.as_p}}
                                                {% if paper.get_slide %}
                                                    <a href="{{paper.get_slide_url}}" target="_blank"> Existing slide for this event &raquo; </a><br>
                                                        {{paper.get_slide_fileinfo.0}} KB on {{paper.get_slide_fileinfo.1}}
                                                        <p class="highlight"> If you upload again, this file will be overwritten. </p>
                                                {% endif %}
                                                <p><input type="submit" value="Submit &raquo;" class="btn btn-primary btn-sm"/></p>

                                            </form>

                                    </div>
                                </div>
                            </div>
                            
                        {% endif %}
                    </div>

                        


                    <div class=" text-center text-muted text-monospace ">
                        <div> {{paper.get_session_str_virtualsite}}
                        </div>
                    </div>
                </div>
            </div>
            <div id="details" class="pp-card m-3 collapse">
                <div class="card-body">
                    <p class="card-text">
                        <div id="abstractExample">
                            <span class="font-weight-bold">Abstract:</span>
                            {{ paper.get_abstract }}
                        </div>
                    </p>

                </div>
            </div>
        </div>
        <!-- SlidesLive -->
        {% if paper.slideslive_video %}

            <div class="container" style="background-color:white; padding: 0px;">
                <div class="row m-2">
                    <div class="col-md-12 col-xs-12 my-auto p-2">

                        {{paper.get_slideslive_embed|safe}}
                    </div>
                </div>
            </div>
        {% endif %}


        {# RocketChat #}
        {% if rci %}
            <div class="container">
                <div class="pp-card m-3">
                    <div class="">
                        <div class="public-chat-title-box">
                            <a style="float:right;" href="{{rocketchat_new_window_url}}" target="_blank" title="Full Size"> <i class="fas fa-expand"></i></i></a>
                            Chat
                        </div>
                        <iframe frameBorder="0" width='100%' height='400px' src="{{rocketchat_iframe_url}}"  id="{{ rocketchat_iframe_id }}"></iframe>
                        {{event_channel_auth_js|safe}}
                    </div>
                </div>
            </div>
        {% else %}
            <div class="container" >
                <div style="color:#ccc"><h3>RocketChat is not active.</h3></div>
            </div>
        {% endif %}




        <!-- Recs -->
        <p></p>
        <div class="container" style="padding-bottom: 30px; padding-top:30px">
            <center>

            </center>
        </div>



    {% else %} {# If access granted #}
        <br><br><br>
        <div class="container"  style="text-align:center;">
            <h4>Registration Required</h4>
            <p>You must be {% if request.user.is_authenticated %}<a href="/Register/view-registration">registered</a> {% else %} <a href="/login?nextp={{request.get_full_path}}">logged in</a>{% endif %} to view this content.</p>
        </div>

    {% endif %}


{% endblock %}
