            <div class="sponsor-video-title text-muted">{{timeStr}}</div>
            <div id="presentation-embed-{{slideslive_id}}" class="slp my-auto"></div>
            <script src='https://slideslive.com/embed_presentation.js'></script>
            <script>
            embed = new SlidesLiveEmbed('presentation-embed-{{slideslive_id}}', {
                presentationId: '{{slideslive_id}}',
                autoPlay: false, // change to true to autoplay the embedded presentation
                verticalEnabled: true,
                allowHiddenControlsWhenPaused: true,
                hideTitle: true
            });
            </script>



            