
                <div class="myCard col-xs-6 col-md-4">
                    <div class="pp-card {% if self.type == "Poster" %}pp-mode-compact{% else %}pp-mode-list{% endif %} ">
                        <div class="pp-card-header">
                            <a href="{{url}}" class="text-muted">
                                <h5 class="card-title" align="center"> {{self.name}} </h5>
                            </a>
                            <h6 class="card-subtitle text-muted" align="center">
                                {{self.get_eventSpeakerStr}}
                            </h6>
                            {% if show_thumbnail %}<center>{{tag|safe}}</center>{% endif %}
                            <h5 class="card-title text-centered text-muted" align="center">{{dateHTML}}</h5>

                        </div>
                    </div>
                </div>
