
                <div class="myCard col-xs-6 col-md-4">
                    <div class="pp-card pp-mode-compact ">
                        <div class="pp-card-header">
                            <a href="{{url}}" class="text-muted">
                                <h5 class="card-title" align="center"> {{self.name}} </h5>
                            </a>
                            <h6 class="card-subtitle text-muted" align="center">
                                {{self.get_eventSpeakerStr}}
                            </h6>
                            {% if show_thumbnail %}<center>{{tag|safe}}</center>{% endif %}

                        </div>
                    </div>
                </div>
