body {
    font-family: 'open sans', arial, sans-serif;
    font-size: 12px;
}

.grid {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin: 0em 1.5em ;
}

.hdrbox {
    background-color: #0072bc;
    color: #fff;
    border-radius: 5px;
    font-size: 180%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5px;

}


.whitebar {
    width:100%;
    padding:5px;
    background-color: white;
    position: sticky;
    top: 70px;
}

.gcol {
    padding: 5px;
    border-radius: 5px;
}

.plain {
    background-color: none;
}

.time {
    text-align: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 2px;
    margin: 15px 0 8px;
    background-color: rgb(255, 255, 255, .7);
    font-weight: 600;
    font-size:1.3em;
    color: #666;
}

.content {
    padding: 1px;
    display: list-item;
    margin-left: 1.3em;
    list-style-type: circle;
    font-size: .85em;
    margin-bottom: 5px;
}

.content a {
    text-decoration: none;
}

.content a:hover {
    text-decoration: underline;
}

.hdr h5 {
    text-align: center;
    margin-top: 3px;
}

.days {
    background-color: #f2f2f2;
}



.hours {
    /*display of hours inside an eventsession*/
    text-align: center;
    font-size: .9em;
    color:666;

    before {
        content: "&emdash;";
    }
}

.expo {
    background-color: #f9d4a9;
}

.tutorial {
    background: #bae4ed;
    border: 5px solid rgb(113, 180, 194, .3);
}

.workshop {
    background: #d5efc2;
    border: 5px solid rgb(154, 203, 119, .3);
    border-radius: 5px;
}

.town-hall {
    background-color: #f2dd94;
    border: 5px solid rgb(236, 205, 99, .7);   
}

.affinityworkshop {
    background: #d5efc2;
    border: 5px solid rgb(154, 203, 119, .3);
}

.invited-talk {
    background: #f6d5d8;
    border: 5px solid rgb(255, 0, 0, .3);
}

.expo_talk {
    /*background: rgb(143, 188, 143);*/
    border: 5px solid rgb(230, 50, 50, .2);
}

.expo_demonstration {
    /*background: rgb(143, 188, 143);*/
    border: 5px solid rgb(139, 0, 139, .2);
}

.expo_workshop {
    /*background: rgb(143, 188, 143);*/
    border: 5px solid rgb(143, 188, 143, .5);
}

.poster {
    background-color: #dfdfdf;
}

.pad {
    margin: 5px;
    padding: 5px;
}

.break {

    margin: 25px 0;
}

.bump {
    padding-top: -1px;
}

.green {
    background-color: #c1ebd6;
}

.orange {
    background-color: #e9d191;
}

.pink {
    background-color: #ebc0e9;
}

.social {
    background-color: rgb(230, 230, 210);  
    border: 5px solid white;
}

.award {
    border: 7px solid gold;

}

.hidden {
    display:none;
}

.sessiontitle {
    text-align:center;
    font-weight: 600;
}
.eventsession {

    color: #222;
    border-radius: 5px;
    padding: px;
    font-size: 110%;
    margin-bottom: 1px !important;
}


.box {
    background-color: #f0f0f0;
    color: #222;
    border-radius: 5px;
    padding: 20px;
    font-size: 110%;
    min-height: 80px;
    margin-bottom: 5px;
}

.box {
    background-color: #999;
}

.sticky {
    position: sticky;
    top: 78px;
}

.buffer {
    background: #fff;
    max-width: 100%;
    padding: 2px 0;
}